@import "bulma.min.css";
/* @import "fonts.css"; Moved to /layouts/partials/fonts.html */
@import "base.css";
@import "colors.css";
@import "width.css";
@import "markdown.css";
@import "style.css";
@import "tablet.css";
@import "mobile.css";

/* My added custom CSS */

#aboutcontainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

#aboutpicture {
    max-width: 100%;
    max-height: 100%;
}

#abouttext {
    font-size: 14px;
    text-align: left;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    #aboutcontainer {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        column-gap: 50px;
    }
    
    #aboutpicture {
        max-width: 100%;
        max-height: 100%;
    }
    
    #abouttext {
        font-size: 12px;
        text-align: left;
    }
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    #aboutcontainer {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        column-gap: 50px;
    }
    
    #aboutpicture {
        max-width: 100%;
        max-height: 100%;
    }
    
    #abouttext {
        font-size: 12px;
        text-align: left;
    }
}


